@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border:1px solid red
} */

/* .bg-img{
    background-image: url("https://ahmadgill-portfolio.netlify.app/assets/Background%20Pattern-_XCnZKxj.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000026;
    background-attachment: fixed;
    background-blend-mode: multiply;
} */